body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagenes/fon.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    background-color: #f0f0f0; /* Color de fondo de la página */
}

.container {
    width: 100%;
    max-width: 400px; /* Ancho máximo del contenedor del formulario */
    margin: 100px auto; /* Margen superior e inferior para centrar el contenedor */
    padding: 20px;
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el tamaño total del campo de entrada sea correcto */
}

input[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón de enviar */
    color: #fff; /* Color del texto del botón de enviar */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
}
